<section class="login-form">
  <h1>{{companyName}} Login</h1>

  <ng-container *ngIf="isAuthenticated; then loggedIn; else loggedOut"></ng-container>

  <ng-template #loggedIn>
    <input type="email" #username name="username" id="username" placeholder="username">
    <input type="password" #password name="password" id="password" placeholder="password">
    <button (click)="login(username.value, password.value)">Login</button>
  </ng-template>
  <ng-template #loggedOut>
    <div class="greeting">
      Welcome {{username}}!
    </div>
  </ng-template>
</section>